Automated Contact Page Voice AI Call and Email Follow-up System.json
{
  "name": "Automated Contact Page Voice AI Call and Email Follow-up System",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "vapiApiKey",
              "value": "ce0befd6-e53e-4104-aafa-2f4b96e8af69",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "vapiPhoneNumberId",
              "value": "b15b0054-cdec-46ba-a157-4cca917aa63b",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "vapiAssistantId",
              "value": "922d3f38-b983-486b-a4a4-00d1e951beeb",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "companyName",
              "value": "Resh and thosh",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "customerEmail",
              "value": "={{ $json.body.email }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "13fccfe9-629c-460d-a9dc-964387b06e86",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call/phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \"+ $json.vapiApikey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistant_id\": \"{{ $json.vapiAssistantId }}\",\n  \"phone_number_id\": \"{{ $json.vapiPhoneNumberId }}\",\n  \"customer\": {\n    \"number\": \"+91{{ $json.phone.replace(' ', '') }}\",\n    \"name\": \"{{ $json.name }}\",\n    \"email\": \"{{ $json.email }}\"\n  }\n}\n",
        "options": {}
      },
      "id": "cae004a3-76f5-4c01-9743-ab2120573fc8",
      "name": "Initiate Vapi Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1152,
        48
      ]
    },
    {
      "parameters": {
        "url": "=https://api.vapi.ai/call/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $('Workflow Configuration').first().json.vapiApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0e4469b3-3293-46a7-a344-b5250530dabc",
      "name": "Monitor Call Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        48
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Workflow Configuration').first().json.customerEmail || $json.body.email }}",
        "subject": "=Thank you for contacting {{ $('Workflow Configuration').first().json.companyName }}",
        "emailType": "text",
        "message": "=<p>Dear {{ $json.body.name || \"Customer\" }},</p>\n\n<p>Thank you for reaching out to us through our contact form. We have successfully connected with you via phone call.</p>\n\n<p>Call Summary:</p>\n<ul>\n<li>Duration: {{ $json.duration }} seconds</li>\n<li>Status: {{ $json.status }}</li>\n</ul>\n\n<p>If you have any additional questions, please don't hesitate to contact us.</p>\n\n<p>Best regards,<br>{{ $('Workflow Configuration').first().json.companyName }} Team</p>",
        "options": {}
      },
      "id": "984af10a-6085-4c5b-b5ab-370cfb81d01d",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        48
      ],
      "webhookId": "04811232-a39d-432d-803f-a24817d5a689",
      "credentials": {
        "gmailOAuth2": {
          "id": "4BJG6QitVjf1LUHS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "7f58ebb0-3615-462f-8cba-5470d1b01db9",
      "name": "Contact Form Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        496,
        48
      ],
      "webhookId": "2890c8c2-05ae-451e-b9ef-d9bbfcd046db"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8742540e-ef49-4b32-9aa0-bea58b036af2",
              "name": "vapiAssistantId",
              "value": "={{ $json.vapiAssistantId }}",
              "type": "string"
            },
            {
              "id": "5ad4b468-5227-4c6f-a663-51d0c5cf5fb3",
              "name": "vapiPhoneNumberId",
              "value": "={{ $json.vapiPhoneNumberId }}",
              "type": "string"
            },
            {
              "id": "81169364-d247-44e2-aed8-29984ef9f62e",
              "name": "company name",
              "value": "={{ $json.companyName }}",
              "type": "string"
            },
            {
              "id": "1d0f5da6-3c90-4a5e-a354-c8ce07ff7e9d",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "cc7796b2-92e7-4a7d-ae48-f418b04570a4",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "9e8cf19d-dc72-4a3d-a7a0-ee8d69a31fd3",
              "name": "phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "5ae57044-d6e5-4422-8291-e2f74d6a9e37",
              "name": "Message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "1a690878-e3dc-423e-a5fa-f9beab92a3f6",
              "name": "vapiApikey",
              "value": "={{ $json.vapiApiKey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        48
      ],
      "id": "f8d78a02-0911-478a-92ae-98c9fdce1ccb",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initiate Vapi Call": {
      "main": [
        [
          {
            "node": "Monitor Call Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monitor Call Status": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Form Submission": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Initiate Vapi Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65c632ed-be4a-46e3-9946-edcab751a19f",
  "meta": {
    "instanceId": "0e1fd36c41004a23cb5969e26b82076889cec103fe11090d4fb3b426db15d523"
  },
  "id": "xA3AUBdyR4Guf8DC",
  "tags": []
}