Gmail Trigger.json
{
  "name": "Gmail Trigger",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -176
      ],
      "id": "f5240a8c-176d-41a2-9989-81e36b02fd1f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "QzchmdlasWTzGOjQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "You are a helpful assistant Travel querys for Flights side. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        -176
      ],
      "id": "40f4bc0b-06ac-4351-8d1b-71cd3cf19f24",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        48
      ],
      "id": "d00691e6-98eb-4d78-9d1e-c2a0a933e735",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ua3xsNZL1DlyZTo5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1x1sR-mUi7s5fQsP8-Zt9_porldH94FGtjJ7TpYR24jE",
          "mode": "list",
          "cachedResultName": "Trial spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x1sR-mUi7s5fQsP8-Zt9_porldH94FGtjJ7TpYR24jE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x1sR-mUi7s5fQsP8-Zt9_porldH94FGtjJ7TpYR24jE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        400,
        48
      ],
      "id": "51684e21-343a-44f1-814d-df70da24587a",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lNy9BX92OFZS8I2b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "preethi@reshandthosh.com",
        "subject": "travel info",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        608,
        -176
      ],
      "id": "53312402-2102-479d-913f-7430f2a16d6b",
      "name": "Send a message",
      "webhookId": "415e7170-f818-4267-bf84-5f936f426358",
      "credentials": {
        "gmailOAuth2": {
          "id": "QzchmdlasWTzGOjQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "output",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        48
      ],
      "id": "7542e847-9317-4aee-9581-4b7407fd5e1f",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "29c407b0-ddb9-446a-a46c-9234ee0a05a1",
  "meta": {
    "instanceId": "6f98da50e1bcb75865875df1e18ad4f36e8b35a2cfedc9612c01becef4ac9528"
  },
  "id": "ozPGPT8V1gr7kZQb",
  "tags": []
}