Professional Travel Automation System.json
{
  "name": "Professional Travel Automation System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "id": "e1b82883-b4d2-47e2-95b3-480ffddea75f",
      "name": "Daily Travel Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "origin",
              "value": "Chennai",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "destination",
              "value": "Dubai",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "departureDate",
              "value": "2024-03-15",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "returnDate",
              "value": "2024-03-22",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "travelers",
              "value": 2,
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "priceThreshold",
              "value": 50000,
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "weatherApiKey",
              "value": "<__PLACEHOLDER_VALUE__Weather API Key__>",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "flightApiKey",
              "value": "<__PLACEHOLDER_VALUE__Flight API Key__>",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "hotelApiKey",
              "value": "<__PLACEHOLDER_VALUE__Hotel API Key__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b04a9b94-23ac-4513-8b7f-ec5686f2ed64",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {
        "url": "https://api.aviationstack.com/v1/flights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_key",
              "value": "=91b7aa81a4af4f3fcedd4cf542385c24"
            },
            {
              "name": "dep_iata",
              "value": "={{ $('Workflow Configuration').first().json.origin }}"
            },
            {
              "name": "arr_iata",
              "value": "={{ $('Workflow Configuration').first().json.destination }}"
            },
            {
              "name": "flight_date",
              "value": "={{ $('Workflow Configuration').first().json.departureDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7f618656-7338-47e1-931f-8c74dac45ae7",
      "name": "Get Flight Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.booking.com/v1/hotels/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "city",
              "value": "={{ $('Workflow Configuration').first().json.destination }}"
            },
            {
              "name": "checkin",
              "value": "={{ $('Workflow Configuration').first().json.departureDate }}"
            },
            {
              "name": "checkout",
              "value": "={{ $('Workflow Configuration').first().json.returnDate }}"
            },
            {
              "name": "adults",
              "value": "={{ $('Workflow Configuration').first().json.travelers }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Workflow Configuration').first().json.hotelApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5a5fc7e1-f966-4832-9651-14b422f36587",
      "name": "Get Hotel Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Workflow Configuration').first().json.destination }}"
            },
            {
              "name": "appid",
              "value": "={{ $('Workflow Configuration').first().json.weatherApiKey }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "cnt",
              "value": "7"
            }
          ]
        },
        "options": {}
      },
      "id": "5f6c0beb-42f4-4169-b1ce-0b7e1c0e4ea6",
      "name": "Get Weather Forecast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "240f65c5-3a15-47ca-ac58-a2ab5de4883c",
      "name": "Combine Travel Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        176
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Travel Data:\n\nFlight Information: {{ JSON.stringify($json.flights) }}\n\nHotel Options: {{ JSON.stringify($json.hotels) }}\n\nWeather Forecast: {{ JSON.stringify($json.weather) }}\n\nOrigin: {{ $('Workflow Configuration').first().json.origin }}\nDestination: {{ $('Workflow Configuration').first().json.destination }}\nDeparture: {{ $('Workflow Configuration').first().json.departureDate }}\nReturn: {{ $('Workflow Configuration').first().json.returnDate }}\nTravelers: {{ $('Workflow Configuration').first().json.travelers }}",
        "options": {
          "systemMessage": "You are a professional travel assistant AI that helps users plan and manage their trips.\n\nYour responsibilities:\n1. Analyze flight prices, hotel availability, and weather forecasts\n2. Provide personalized travel recommendations based on the data\n3. Calculate total trip costs and compare options\n4. Identify the best deals and optimal travel times\n5. Use the Travel Database Tool to save booking information\n6. Use the Calendar Management Tool to schedule travel events\n7. Use the Email Notification Tool to send confirmations and updates to travelers\n8. Alert users about price drops or weather concerns\n\nAlways provide:\n- Clear cost breakdowns in INR\n- Weather-appropriate packing suggestions\n- Best value recommendations\n- Alternative options if prices are too high\n- Professional and friendly communication\n\nReturn a JSON object with:\n- recommendation: string (your travel advice)\n- totalCost: number (estimated total in INR)\n- priceAlert: boolean (true if below threshold)\n- weatherWarning: string (any weather concerns)\n- bookingDetails: object (flight and hotel selections)"
        }
      },
      "id": "1ef2d678-c577-41c3-a4e1-0ac7065cdb7d",
      "name": "Travel Recommendation Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        192
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4-turbo-preview"
        },
        "options": {}
      },
      "id": "f8e7fa8a-0112-4eb0-8960-27567805fe8c",
      "name": "OpenAI GPT-4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        416
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ua3xsNZL1DlyZTo5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "d478051b-a389-4f4b-8b4c-a9e2b9748c0b",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        416
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Access and manage travel bookings database. Can read, update, and create travel records including flights, hotels, and itineraries.",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', `Google Sheets document ID for travel database`, 'string') }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', `Sheet name to access`, 'string') }}"
        },
        "options": {}
      },
      "id": "6585b2cd-e404-4815-9672-594a3d3ee9ae",
      "name": "Travel Database Tool",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        672,
        416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lNy9BX92OFZS8I2b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Manage travel calendar events. Can create, update, and check availability for travel-related appointments and bookings.",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $fromAI('calendar_id', 'Google Calendar ID', 'string', 'primary') }}"
        },
        "start": "={{ $fromAI('start_time', 'Event start time in ISO format', 'string') }}",
        "end": "={{ $fromAI('end_time', 'Event end time in ISO format', 'string') }}",
        "additionalFields": {
          "summary": "={{ $fromAI('event_title', 'Title for the calendar event', 'string') }}"
        }
      },
      "id": "0263454e-00cf-4ca9-ba0f-9ccbca1ebf3e",
      "name": "Calendar Management Tool",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        816,
        416
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "W0YSwWD8OFAI5bTs",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send email notifications to travelers. Use this to send booking confirmations, itinerary updates, and travel alerts.",
        "sendTo": "={{ $fromAI('recipient_email', 'Email address of the recipient', 'string') }}",
        "subject": "={{ $fromAI('email_subject', 'Subject line for the email', 'string') }}",
        "message": "={{ $fromAI('email_body', 'HTML formatted email body', 'string') }}",
        "options": {}
      },
      "id": "0aad266e-70d8-46ec-8112-fa8d2e494000",
      "name": "Email Notification Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        960,
        416
      ],
      "webhookId": "95c9b9df-9f55-422c-9a4d-8de8f933978e",
      "credentials": {
        "gmailOAuth2": {
          "id": "QzchmdlasWTzGOjQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.priceAlert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "96934515-6434-438b-a49f-45fec1e59880",
      "name": "Check Price Alert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        192
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yL6a5pNrlFVPngoHl2YLtJtgs1TvGGmw2qcCk5-B34c",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yL6a5pNrlFVPngoHl2YLtJtgs1TvGGmw2qcCk5-B34c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yL6a5pNrlFVPngoHl2YLtJtgs1TvGGmw2qcCk5-B34c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a4c4e691-4c84-46eb-b0df-e66a9390fca7",
      "name": "Save to Travel Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lNy9BX92OFZS8I2b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "preethirnt2002@gmail.com",
        "subject": "Travel Details",
        "message": "{json.output}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        224
      ],
      "id": "f2ce09a4-aa06-456c-9d0e-ae7ceffa6a98",
      "name": "Send a message",
      "webhookId": "2305c99c-9818-4c6b-8617-560a670769e0",
      "credentials": {
        "gmailOAuth2": {
          "id": "QzchmdlasWTzGOjQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z9I8z7RXIKBY7Nh3xT91Kyy8-oKDLHC7CI52Nu9rJDA",
          "mode": "list",
          "cachedResultName": "Visa_File_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z9I8z7RXIKBY7Nh3xT91Kyy8-oKDLHC7CI52Nu9rJDA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z9I8z7RXIKBY7Nh3xT91Kyy8-oKDLHC7CI52Nu9rJDA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Visa Type",
              "displayName": "Visa Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DOB",
              "displayName": "DOB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nationality",
              "displayName": "Nationality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone ",
              "displayName": "Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Destination City ",
              "displayName": "Destination City ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Travel Date",
              "displayName": "Travel Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Return Date",
              "displayName": "Return Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Travel Info",
              "displayName": "Travel Info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "applicant_name",
              "displayName": "applicant_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "google Drive ID",
              "displayName": "google Drive ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Document _Type ",
              "displayName": "Document _Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uploaded_Date",
              "displayName": "Uploaded_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Passport_number",
              "displayName": "Passport_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        416
      ],
      "id": "60192372-e979-4fc8-aa9a-8e7abe834d7e",
      "name": "Log Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lNy9BX92OFZS8I2b",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Travel Check": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Flight Prices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Hotel Availability",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Weather Forecast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Flight Prices": {
      "main": [
        [
          {
            "node": "Combine Travel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hotel Availability": {
      "main": [
        [
          {
            "node": "Combine Travel Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Weather Forecast": {
      "main": [
        [
          {
            "node": "Combine Travel Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Combine Travel Data": {
      "main": [
        [
          {
            "node": "Travel Recommendation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4": {
      "ai_languageModel": [
        [
          {
            "node": "Travel Recommendation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Travel Recommendation Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Travel Database Tool": {
      "ai_tool": [
        [
          {
            "node": "Travel Recommendation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Management Tool": {
      "ai_tool": [
        [
          {
            "node": "Travel Recommendation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Notification Tool": {
      "ai_tool": [
        [
          {
            "node": "Travel Recommendation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Travel Recommendation Agent": {
      "main": [
        [
          {
            "node": "Check Price Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Price Alert": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Travel Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c638fa67-f87d-440d-a1f3-8e66351cc6e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f98da50e1bcb75865875df1e18ad4f36e8b35a2cfedc9612c01becef4ac9528"
  },
  "id": "DXbcCFrpwhZBzCRv",
  "tags": []
}