Youtube Video Auto Generated (1).json
{
  "name": "Youtube Video Auto Generated",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://texttospeech.googleapis.com/v1/text:synthesize?key=AIzaSyAuCNl0Xj2SxlsF9gd1S7EyZMRxRj-h93k",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"text\": \"{{$json.script}}\"\n  },\n  \"voice\": {\n    \"languageCode\": \"en-IN\",\n    \"name\": \"en-IN-Wavenet-D\"\n  },\n  \"audioConfig\": {\n    \"audioEncoding\": \"MP3\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        -16
      ],
      "id": "c7e96722-3458-4a0e-bff3-278636d6772a",
      "name": "Text to speech"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stability.ai/v1/generation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"prompt\": \"motivational sunrise background, cinematic style\",\n  \"width\": 512,\n  \"height\": 512\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        -16
      ],
      "id": "cffede36-0412-44a5-96bf-d04172611ec7",
      "name": "BG Image_Generate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.videomerge.com/v1/merge",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"videos\": [\n    {\n      \"url\": \"https://storage.googleapis.com/audio.mp3\",\n      \"type\": \"audio\"\n    },\n    {\n      \"url\": \"https://storage.googleapis.com/image.png\",\n      \"type\": \"image\"\n    }\n  ],\n  \"output_format\": \"mp4\",\n  \"resolution\": \"1080p\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        -16
      ],
      "id": "e8134749-9c48-466f-be2d-d99ba3ef848a",
      "name": "Merge(image+Audio+Script)"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "Happiness:",
        "regionCode": "IN",
        "categoryId": "23",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1008,
        -16
      ],
      "id": "8b42567b-4814-45b1-8384-b76f832b29cd",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "UraZ9Ht2S6MuGoQ6",
          "name": "YouTube account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2c0e81f-b7f5-4b98-b0f6-e8506fd7e1bb",
              "name": "script",
              "value": "Today is a new opportunity. Never give up on your dreams. Hard work always pays.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -16
      ],
      "id": "98b37b04-d4f3-42d6-9fbf-e01f07096cf6",
      "name": "Script Set"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        -16
      ],
      "id": "cce1457f-b25e-44be-ad70-0c9c9f641d0d",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Text to speech": {
      "main": [
        [
          {
            "node": "BG Image_Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BG Image_Generate": {
      "main": [
        [
          {
            "node": "Merge(image+Audio+Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge(image+Audio+Script)": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Set": {
      "main": [
        [
          {
            "node": "Text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Script Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a791318a-6f5a-44e9-8ec0-c018b60bf8f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "66e601c3b9a4ffec2031ea0958c5ca1e5a8d4a886bbe4c5d068373e9c8066ae8"
  },
  "id": "fKv9sdo0mfvLAujJ",
  "tags": []
}